@import url("https://fonts.googleapis.com/css2?family=Montag?u+Slab:opsz,wght@16..144,100..700&family=Montserrat&display=swap");
/* Start Root Values */
:root {
    --header-height: 3.5rem;
    /* Colors */
    --first-clr: hsl(230, 62%, 56%);
    --title-clr: hsl(230, 70%, 16%);
    --txt-clr: hsl(230, 16%, 45%);
    --border-clr: hsl(230, 50%, 90%);
    --white-clr: hsl(0, 0%, 100%);
    --body-color: hsl(230, 100%, 96%);
    --container-clr: hsl(230, 100%, 97%);
    /* Fonts */
    --body-font: "Montserrat", sans-serif;
    --second-font: "Montagu Slab", serif;
    --big-font: 2rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1rem;
    --normal-font: 0.938rem;
    --small-font: 0.813rem;
    --smaller-font: 0.75rem;
    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;
    /* Z Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}
/* Responsive Typography */
@media screen and (min-width: 1150px) {
    :root {
        --big-font: 3.5rem;
        --h1-font: 2.25rem;
        --h2-font: 1.5rem;
        --h3-font: 1.25rem;
        --normal-font: 1rem;
        --small-font: 0.875rem;
        --smaller-font: 0.813rem;
    }
}
/* Normalize */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body,
input,
button {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}
body {
    background-color: var(--body-color);
    color: var(--txt-clr);
    transition: background-color 0.4s;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -ms-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    height: 10000px;
}
input,
button {
    border: none;
    outline: none;
}
h1,
h2,
h3,
h4 {
    color: var(--title-clr);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.darkTheme {
    --title-clr: hsl(230, 48%, 85%);
    --txt-clr: hsl(230, 16%, 70%);
    --border-clr: hsl(230, 12%, 18%);
    --white-clr: hsl(0, 0%, 100%);
    --body-color: #333;
    --container-clr: hsl(230, 12%, 12%);
}
/*========== Dark & Day Theme ==========*/
.darkTheme header {
    box-shadow: 0, 2px 16px hsla(0, 0%, 0%, .4);
}

@media(max-width: 50em) {
    .darkTheme .nav_list {
        box-shadow: 0 -8px 32px hsla(0, 0%, 0%, .4);
    }
}

.darkTheme .scrollup {
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .4);
}

.darkTheme::-webkit-scrollbar {
    background-color: hsl(0, 0%, 25%);
}
.darkTheme::-webkit-scrollbar-thumb {
    background-color: hsl(0, 0%, 35%);
}
.darkTheme::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 40%);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(230, 16%, 85%);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
::-webkit-scrollbar-thumb {
    background-color: hsl(230, 16%, 65%);
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 55%);
}
/*=============== SCROLL UP ===============*/
.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--container-clr);
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    color: var(--title-clr);
    z-index: var(--z-tooltip);
    transition: bottom .4s, tranform .4s, background-color .4s;
    -webkit-transition: bottom .4s, tranform .4s, background-color .4s;
    -moz-transition: bottom .4s, tranform .4s, background-color .4s;
    -ms-transition: bottom .4s, tranform .4s, background-color .4s;
    -o-transition: bottom .4s, tranform .4s, background-color .4s;
}
.scrollup:hover {
    transform: translateY(-.2rem);
    -webkit-transform: translateY(-.2rem);
    -moz-transform: translateY(-.2rem);
    -ms-transform: translateY(-.2rem);
    -o-transform: translateY(-.2rem);
    cursor: pointer;
}

/* Show Scroll Up */
.show-scroll {
    bottom: 6rem;
}
/*=============== REUSABLE CSS CLASSES ===============*/
.grid {
    display: grid;
    gap: 1.5rem;
}
.section {
    padding-block: 5rem 1rem;
}
.section_title {
    text-align: center;
    font-size: var(--h1-font);
    font-family: var(--second-font);
    margin-bottom: 2rem;
}
/* ======================== HEADER ======================== */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}
header .logo {
    color: var(--first-clr);
    font-size: var(--h2-font);
    font-weight: var(--font-medium);
}
.nav_list {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 2rem;
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}
.nav_list ul {
    display: flex;
    justify-content: space-around;
}
.nav_link {
    color: var(--txt-clr);
}
.nav_link:hover {
    cursor: pointer;
}
.nav_link:hover,
.active_link {
    color: var(--first-clr);
}
.nav_list span {
    display: none;
}
.nav_list i {
    font-size: 1.2rem;
}
.theme_icon {
    font-size: 1.2rem;
    cursor: pointer;
}
@media (min-width: 800px) {
    header {
        justify-content: space-between;
    }
    .nav_list {
        box-shadow: 0 0;
        position: sticky;
        width: fit-content;
    }
    .nav_list ul {
        gap: 3rem;
        justify-content: center;
    }
    .nav_link span {
        display: block;
    }
    .nav_link i {
        display: none;
    }
}